<?php

namespace ${1:`substitute(substitute(expand("%:h"), 'v^w+/(u)', '1', ''), '/', '\', 'g')`};

/**
 *
 * @author Henning Glatter-Götz <henning@glatter-gotz.com>
 */
class ${2:`Filename('', 'myClass')`}
{
    public function __construct()
	{
	}
}
