<?php

namespace `substitute(substitute(expand("%:p:h"), '.*/src/', '', ''), '/', '\', 'g')`;

/**
 * `Filename('', 'ClassName')`
 *
 * @author Henning Glatter-Götz <henning@glatter-gotz.com>
 */
class `Filename('', 'ClassName')`
{
    public function __construct()
	{
		${1:// code}
	}
}
